.title {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgb(221, 221, 221);

  &__btn {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
  }
}

.content {
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}
