.decor {
  transition: 1.5s;
  width: 340px;
  height: auto;
  border-radius: 25px;

  &:hover {
    transform: scale(1.1);
  }
}

.block {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.wrap {
  margin-bottom: 180px;
}
