.btnLike {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-365%, -400%);
  color: #ffffff;
  font-size: 16px;
  background-color: #ffffff;
  padding: 6px;
  border: 1px solid rgba(221, 221, 221, 1);
  cursor: pointer;
  border-radius: 50%;
  display: flex;

  &:hover {
    background-color: rgb(85, 120, 218);
    border: 1px solid rgb(85, 120, 218);
  }
}

.btnAdd {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-35%, 160%);
  color: #ffffff;
  font-size: 16px;
  background-color: rgb(85, 120, 218);
  padding: 12px 24px;
  border: 1px solid rgb(85, 120, 218);
  cursor: pointer;
  border-radius: 5px;
  display: flex;

  &:hover {
    color: rgb(85, 120, 218);
    background-color: #ffffff;
  }
}

.blockBtn {
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: 140px 157px 40px;
  grid-template-rows: 44px 60px 40px;
}
