.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
  padding: 0 30px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.action {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  &:hover {
    color: #e93564;
  }
}

.img {
  margin-right: 16px;
  width: 26px;
  height: 26px;
}

.imgCall {
  margin-right: 16px;
  width: 16px;
}
