.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.block > select:nth-child(1) {
  grid-column: 4/5;
}

.product {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  padding: 20px;

  &:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 25px;
  }
}
.product .btnLike {
  margin-top: -60px;
}

.product .btnAdd {
  margin-top: 80px;
}

.product .btnLike,
.product .btnAdd {
  transition: 0.3s;
  opacity: 0;
}

.product:hover .btnLike,
.product:hover .btnAdd {
  opacity: 1;
}

.product:hover .btnLike {
  margin-top: 0;
}

.product:hover .btnAdd {
  margin-top: 0;
}

.select {
  padding: 10px 16px;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 5px;
  cursor: pointer;
}

.scale {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.img {
  width: 260px;
  height: 280px;
  object-fit: cover;
  transition: 1s;
  display: block;

  &:hover {
    transform: scale(1.1);
  }
}

.btnLike {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-365%, -400%);
}

.btnAdd {
  position: absolute;
  top: 40%;
  left: 42%;
  transform: translate(-35%, 160%);
}

.decor {
  width: 18px;
  height: 18px;
}
