@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  
}

.styles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1170px) {
    .wrapper {
      max-width: 1170px;
    }
  }