.quantity_inner * {
  box-sizing: border-box;
}
.quantity_inner {
  display: inline-flex;
  border-radius: 26px;
  border: 2px solid rgb(85, 120, 218);
}
.quantity_inner .bt_minus,
.quantity_inner .bt_plus,
.quantity_inner .quantity {
  height: 40px;
  width: 40px;
  padding: 0;
  border: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  outline: 0;
}
.quantity_inner .quantity {
  width: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #312f2f;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.quantity_inner .bt_minus svg,
.quantity_inner .bt_plus svg {
  stroke: rgb(85, 120, 218);
  stroke-width: 4;
  transition: 0.5s;
  margin: 10px;
}
.quantity_inner .bt_minus:hover svg,
.quantity_inner .bt_plus:hover svg {
  stroke: #312f2f;
}
